:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);

    --fntwgt-500: 500;
    --fntwgt-700: 700;
}

html {
    font-size: 13px;
    font-family: 'Manrope';
    font-weight: var(--fntwgt-500);
}


/* COMPOSITION */

body {
    display: flex;
    min-width: 320px;
    place-items: center;    
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-color: var(--LightGrayishBlue);
}

main {
    display: flex;
    width: 320px;
    height: auto;
    margin: 0 auto;     
}

.article-card {
    width: 320px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 20px 15px 1px hsl(212, 23%, 89%);    
}

.article-img {
    width: inherit;       
}

.article-img img {
    width: inherit;
    height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px; 
}

.article-text {
    margin: 30px 30px 0px;
}

.author-share-wrapper {
    position: absolute;
    width: inherit;
    height: auto;
    margin: 0 auto;
}

.article-author {
    display: grid;
    margin: 15px 30px;
    width: inherit;    
    place-items: center;
    grid-template-columns: 40px 130px 20px 50px;
    grid-template-rows: repeat(1, max-content);
    gap: 10px;    
}

.avatar-wrapper {
    width: 40px;
    height: 40px;    
    grid-area: 1 / 1 / 2 / 2;    
}

.avatar-wrapper img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
}

.author-info {    
    grid-area: 1 / 2 / 2 / 3; 
}

.share-passive-wrapper {    
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--LightGrayishBlue);
    grid-area: 1 / 4 / 2 / 4;
}

#share-icon-passive {
    padding: 8px 8px 6px;    
}

.share {   
    display: none;        
    width: inherit;
    margin: 0 auto;
    height: auto;
         
    background-color: var(--VeryDarkGrayishBlue);
    border-radius: 0px 0px 12px 12px;    
}

.share-contents {
    display: grid;
    height: 55px;    
    margin: 10px 30px;
    padding-top: 10px;    
    place-items: center;    
    grid-template-columns: 60px 110px 20px 50px;
    grid-template-rows: repeat(1, max-content);
    gap: 10px;      
       
}

.share-contents p {
    font-size: 1em;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--DesaturatedDarkBlue);    
    grid-area: 1 / 1 / 1 / 1;
}

.share-icons {
    padding: 0;       
}

.share-icons li {
    display: inline-block;
    margin: 0px 6px;           
    list-style-type: none;
    grid-area: 1 / 2 / 1 / 3; 
}

.share-active-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--DesaturatedDarkBlue);
    grid-area: 1 / 4 / 1 / 4;
}

#share-icon-active {
    filter: brightness(0) invert(1);
    padding: 8px 8px 6px;   
}

.share-desktop {
    display: none;    
    position: absolute;
    width: 250px;
    height: 55px;        
    top: -70px;
    left: 255px;
    background-color: var(--VeryDarkGrayishBlue);
    border-radius: 12px;
    box-shadow: 0px 10px 15px 1px hsl(212, 23%, 89%);
}

.share-pointer {
    display: none;
    position: absolute;             
    top: -27px;
    left: 368px;
    background-color: var(--VeryDarkGrayishBlue);
    width: 22px;
    height: 20px;
    transform: rotate(45deg);    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;       
}




/* UTILITIES */

.article-title {
    font-size: 1.25rem;
    color: var(--VeryDarkGrayishBlue);
}

.author-name {
    color: var(--VeryDarkGrayishBlue);
    font-weight: var(--fntwgt-700);
    margin: 0 auto;
}

.article-date {
    color: var(--DesaturatedDarkBlue);
    margin: 0 auto;    
}

.article-text-preview {
    color: var(--DesaturatedDarkBlue);
    line-height: 1.5;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}



/* BLOCKS */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}



/* EXCEPTION */

@media only screen and (min-width: 1024px) {

    /* COMPOSITION */
    
    main {        
        width: 720px;
        height: 275px
    }

    .article-card {
        display: grid;
        width: 720px;
        height: 275px;
        grid-template-columns: 275px 455px;
        grid-template-rows: 200px 75px;  
    }

    .article-img {
        width: 275px;
        height: 275px;
        overflow: hidden;        
        grid-area: 1 / 1 / 2 / 1;
    }

    .article-img img {
        width: 330px;
        height: 275px;
        object-fit: cover;
        border-radius: 12px 0px 0px 12px;        
    }

    .article-text {
        width: 380px;
        height: 100px;
        margin: 20px 35px 0px 40px;
        grid-area: 1 / 2 / 1 / 2;
    }

    .author-share-wrapper {
        position: relative;
        width: 380px;
        height: 75px;
        margin: 0px 10px;
        grid-area: 2 / 2 / 2 / 2;
    }

    .article-author {
        width: 380px;
        margin: 5px 30px; 
        grid-template-columns: 40px 130px 125px 50px;
    }
 

    .share-contents {
        margin: 0 35px;
        padding: 5px;
    }


    /* UTILITIES */

    .article-title {
        font-size: 1.55em;        
    }

    .share-contents p {
        color: var(--GrayishBlue);
        letter-spacing: 5px;
    }

    /* EXCEPTION */

    .share-passive-wrapper:active {
        background-color: var(--DesaturatedDarkBlue);
    }

    #share-icon-passive:active {
        filter: brightness(0) invert(1);
    }   


}